.gameboard {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.empty {
    background-color: gray; /* Boş hücreler için arkaplan rengi */
    width: 20px; /* Hücrenin genişliği */
    height: 20px; /* Hücrenin yüksekliği */
    border: 1px solid #ddd; /* Hücre sınırı */
}
.filled {
    background-color: black; /* Dolu hücreler için arkaplan rengi */
    width: 20px; /* Hücrenin genişliği */
    height: 20px; /* Hücrenin yüksekliği */
    border: 1px solid #ddd; /* Hücre sınırı */
}
